@charset "UTF-8";
/* CSS Document */
body
{background-color:#d8e49b;
}
.header
{
	margin-top:14px;
	margin-bottom: 30px;
	text-align:center;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:30px;
	color:white;
}

.squares
	width:700px;
	height:700px;
	margin-left:400px;

