@charset "UTF-8";
/* CSS Document */
body
{background-color:#d8e49b;
}

.header
{

	margin-top:20px;
	margin-bottom: 30px;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size:80px;
	color:white;
}



