@charset "UTF-8";
/* CSS Document */

a:link {
color:#909090; 
background-color: transparent; 
text-decoration: none;
}
a:hover{
color:#666; 
border-bottom: 1px #909090;
background-color: transparent; 
text-decoration: underline;
}
a:visited{
color:#909090; 
text-decoration: none;
}
